.scroll-container {
  height: calc(100vh - 65px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.scroll-container section {
  scroll-snap-align: start;
  height: calc(100vh - 65px);
}
.scroll-container section .car-container {
  user-select: none;
  width: 100%;
  height: calc(100vh - 65px);
  border-left: 0px !important;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.scroll-container section .car-container .overlay {
  width: 45%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  will-change: color backround-color transform;
  transition: color 40ms linear, background-color 80ms linear, transform 80ms ease-in;
}
.scroll-container section .car-container .overlay:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  transform: scale(1.05);
}
.scroll-container section .car-container .overlay div {
  width: 70%;
  height: 60%;
}
.scroll-container section .car-container .overlay div p {
  font-size: 1.4vw;
}
.scroll-container section .left {
  justify-content: left;
}
.scroll-container section .left .overlay {
  margin-left: 2.5vw;
}
.scroll-container section .right {
  justify-content: right;
}
.scroll-container section .right .overlay {
  margin-right: 2.5vw;
}
.scroll-container section .cabrio {
  background-image: url("../assets/special_models/cabrio.jpg");
}
.scroll-container section .alpina {
  background-image: url("../assets/special_models/alpina.jpg");
}